/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     background-color: rgb(227, 253, 253);
}


/******************************************
/* LAYOUT
/*******************************************/
header {
     display: flex;
     justify-content: center;
}

footer {

}

section.container{
     display:flex;
     justify-content: center;
}    
#left, #center, #right {
     border: 2px solid black;
     border-radius: 15px;
     height: 200px;
     width: 20%;    
     background-size:cover;
     background-repeat:no-repeat;
}


.container h3 {
     padding-top: 1%;
     width: 20%;
     text-align: center;
}

button {
     background-color: rgba(1,1,1,0);
     padding: 0.5%;
     margin: 1%;
     width:100px;
     border-radius: 15px;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/

